/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bg-color: #f6f9f9;
$title-text-color: #2d3950;


body {
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-size: 15px
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.section {
  padding: 80px 0 110px;
  text-align: center;
  background: $bg-color;
}

.section-header {
  h1{
    margin-bottom: 20px;
    font-size: 2.6em;
  }
  p{
    margin-bottom: 50px;
  }
}
//-------------HEDER--------------
#header {
  padding: 40px 0;

  .logo {
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 2em;
    пгfont-weight: bold;

    a{
      color: $title-text-color;

      &:hover {
        color: #15a4fa;
      }
    }
  }
}

//---------BANNER-SECTION---------
.banner-section {
  overflow: hidden;
  padding: 0;
  color: #ffffff;
  background: #ffffff url("../img/banner-bg.jpg") 50% 50% no-repeat;
  background-size: cover;

  h1{
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 3%;
    padding: 0 10%;
    font-size: 8em;
    line-height: 1.2em;
    text-transform: uppercase;
    border-bottom: 2px solid #15a4fa;
  }

  p{
    font-size: 1.33em;
    margin-bottom: 4%;

    span{
      text-transform: uppercase;
    }
  }

  a {
    color: #ffffff;

    &.scrolling {
      display: inline-block;
      margin-bottom: 10%;
      padding: 0 30px;
      font-size: 1.2em;
      line-height: 3em;
      border: 1px solid #15a4fa;
    }

    &.icon {
      display: block;
      margin-bottom: 5%;

      .fa {
        font-size: 2.3em;
      }
    }
  }
}

//---------INFO-SECTION---------
.info-section {

  h2{
    margin-bottom: 30px;
    font-size: 2.6em;
    color: $title-text-color;
  }

  p{
    padding: 0 25px;
    font-size: 1.33em;
    line-height: 1.6em;
  }
}

//---------FEATURE-SECTION---------
.feature-section {
  padding: 60px 0;
  background: #ffffff;

  .fa {
    display: block;
    width: 100px;
    height: 100px;
    padding: 20px;
    color: #ffffff;
    font-size: 40px;
    background: #15a4fa;
    border-radius: 2px;
  }
}

//---------PORTFOLIO-SECTION---------
.portfolio-section {

  .section-header {
    h1 {
      color: $title-text-color;
    }
  }

  li {
    margin-bottom: 2%;
  }

  .group-container {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }

  .hover-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(21, 164, 250, 0.9);
  }

  .portfolio li:hover & {
    display: inline-block;
  }
;
}

//---------SUBSCRIBE-SECTION---------
.subscribe-section {
  background: url("../img/subscribe-section-bg.jpg") 50% 50% no-repeat;
  background-size: cover;

  .opacity-bg {
    background: rgba(45, 57, 80, 0.9);
  }

  .section-header {
    h1 {
      color: #ffffff;
    }
  }
}
.subscribe-form {
  overflow: hidden;
  text-align: left;

  ul {
    li {
      margin-bottom: 20px;

      input,
      textarea {
        width: 100%;
        padding: 20px;
        color: #999999;
        background: transparent;
        border: 1px solid #999999;
        border-radius: 2px;
      }
    }
  }

    label {
      float: left;

      .subscribe-checkbox {
        background: #999fa9;
        border: none;
      }
    }



    .botton-send {
      float: right;
      padding: 10px 40px;
      color: #ffffff;
      background: transparent;
      border: 1px solid #15a4fa;
      border-radius: 2px;
    }
}

//---------FOOTER---------
#footer {
  padding: 25px 0;

  p{
    float: left;
  }
  .group-box {
    float: right;

    .fa {
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 10px;
      color: #ffffff;
      background: #15a4fa;
      border-radius: 2px;
    }
  }
}