/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

/* line 18, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 21, ../sass/screen.scss */
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 26, ../sass/screen.scss */
.section {
  padding: 40px 0 50px;
  text-align: center;
  background: #f6f9f9;
}

/* line 33, ../sass/screen.scss */
.section-header h1 {
  margin-bottom: 20px;
  font-size: 2.6em;
}
/* line 37, ../sass/screen.scss */
.section-header p {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  /* line 43, ../sass/screen.scss */
  .section {
    padding: 80px 0 100px;
  }
}
/* line 48, ../sass/screen.scss */
#header {
  padding: 20px 0;
}
/* line 51, ../sass/screen.scss */
#header .logo {
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
/* line 57, ../sass/screen.scss */
#header .logo a {
  color: #2d3950;
}
/* line 60, ../sass/screen.scss */
#header .logo a img {
  float: left;
  margin-right: 15px;
}
/* line 65, ../sass/screen.scss */
#header .logo a:hover {
  color: #15a4fa;
}
/* line 69, ../sass/screen.scss */
#header .logo a span {
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  /* line 77, ../sass/screen.scss */
  #header {
    padding: 40px 0;
  }
}
/* line 83, ../sass/screen.scss */
.banner-section {
  overflow: hidden;
  padding: 0;
  color: #ffffff;
  background: #ffffff url("../img/banner-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
/* line 90, ../sass/screen.scss */
.banner-section h1 {
  display: inline-block;
  margin-top: 25%;
  margin-bottom: 8%;
  padding: 0 5%;
  font-size: 5em;
  line-height: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid #15a4fa;
}
/* line 101, ../sass/screen.scss */
.banner-section p {
  font-size: 1.2em;
  margin-bottom: 8%;
}
/* line 105, ../sass/screen.scss */
.banner-section p span {
  text-transform: uppercase;
}
/* line 110, ../sass/screen.scss */
.banner-section a {
  color: #ffffff;
}
/* line 113, ../sass/screen.scss */
.banner-section a.scrolling {
  display: inline-block;
  margin-bottom: 10%;
  padding: 0 30px;
  font-size: 1.2em;
  line-height: 3em;
  border: 1px solid #15a4fa;
}
/* line 122, ../sass/screen.scss */
.banner-section a.icon {
  display: block;
  margin-bottom: 5%;
}
/* line 126, ../sass/screen.scss */
.banner-section a.icon .fa {
  font-size: 2.3em;
}

@media screen and (min-width: 768px) {
  /* line 135, ../sass/screen.scss */
  .banner-section h1 {
    margin-top: 15%;
    margin-bottom: 3%;
    padding: 0 10%;
    font-size: 8em;
  }
  /* line 142, ../sass/screen.scss */
  .banner-section p {
    font-size: 1.33em;
    margin-bottom: 4%;
  }
}
/* line 152, ../sass/screen.scss */
.info-section h2 {
  margin-bottom: 30px;
  font-size: 2.6em;
  color: #2d3950;
}
/* line 158, ../sass/screen.scss */
.info-section p {
  padding: 0 25px;
  font-size: 1.33em;
  line-height: 1.6em;
}

/* line 166, ../sass/screen.scss */
.feature-section {
  padding: 30px 0 20px;
  background: #ffffff;
}
/* line 170, ../sass/screen.scss */
.feature-section li {
  margin-bottom: 10%;
}
/* line 174, ../sass/screen.scss */
.feature-section .icon-wrapper {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #48baff 50%, #5fc3ff 50%, #5fc3ff 50%);
  border-radius: 2px;
  text-align: center;
}
/* line 184, ../sass/screen.scss */
.feature-section .icon-wrapper .fa {
  padding: 30px 0;
  color: #ffffff;
  font-size: 40px;
}
/* line 190, ../sass/screen.scss */
.feature-section .icon-wrapper .fa-mobile {
  padding: 20px 0;
  font-size: 60px;
}
/* line 196, ../sass/screen.scss */
.feature-section h2 {
  margin-bottom: 25px;
  color: #2d3950;
  font-size: 1.4em;
}
/* line 202, ../sass/screen.scss */
.feature-section p {
  padding: 0 30px;
  line-height: 1.4em;
}

@media screen and (min-width: 768px) {
  /* line 209, ../sass/screen.scss */
  .feature-section {
    padding: 60px 0 40px;
  }
  /* line 212, ../sass/screen.scss */
  .feature-section li {
    margin-bottom: 2%;
  }
}
/* line 222, ../sass/screen.scss */
.portfolio-section .section-header h1 {
  color: #2d3950;
}
/* line 227, ../sass/screen.scss */
.portfolio-section li {
  margin-bottom: 2%;
}
/* line 230, ../sass/screen.scss */
.portfolio-section li:hover .hover-block {
  display: block;
}
/* line 235, ../sass/screen.scss */
.portfolio-section .group-container {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
/* line 241, ../sass/screen.scss */
.portfolio-section .hover-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(21, 164, 250, 0.9);
}
/* line 251, ../sass/screen.scss */
.portfolio-section .hover-block .hover-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 257, ../sass/screen.scss */
.portfolio-section .hover-block .hover-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 263, ../sass/screen.scss */
.portfolio-section .hover-block .group-box {
  display: inline-block;
}
/* line 267, ../sass/screen.scss */
.portfolio-section .hover-block .zoom,
.portfolio-section .hover-block .link {
  float: left;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  width: 42px;
  height: 42px;
  color: #ffffff;
  line-height: 0;
  background: #15a4fa;
  border: 1px solid #ffffff;
  border-radius: 2px;
}
/* line 282, ../sass/screen.scss */
.portfolio-section .hover-block .zoom {
  margin-right: 5px;
}
/* line 286, ../sass/screen.scss */
.portfolio-section .hover-block .link {
  font-size: 20px;
}

/* line 293, ../sass/screen.scss */
.subscribe-section {
  background: url("../img/subscribe-section-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
/* line 297, ../sass/screen.scss */
.subscribe-section .opacity-bg {
  background: rgba(45, 57, 80, 0.9);
}
/* line 302, ../sass/screen.scss */
.subscribe-section .section-header h1 {
  color: #ffffff;
}

/* line 307, ../sass/screen.scss */
.subscribe-form {
  overflow: hidden;
  text-align: left;
}
/* line 312, ../sass/screen.scss */
.subscribe-form ul li {
  margin-bottom: 20px;
}
/* line 315, ../sass/screen.scss */
.subscribe-form ul li input,
.subscribe-form ul li textarea {
  width: 100%;
  padding: 20px;
  color: #999999;
  background: transparent;
  border: 1px solid #999999;
  border-radius: 2px;
}
/* line 326, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox {
  float: left;
}
/* line 329, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox + label {
  cursor: pointer;
}
/* line 333, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 338, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 25px;
}
/* line 343, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #999fa9;
  border-radius: 2px;
}
/* line 354, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 6px;
  width: 10px;
  height: 10px;
  background: #15a4fa;
  border-radius: 2px;
  opacity: 0;
}
/* line 367, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:checked + label:after {
  opacity: 1;
}
/* line 371, ../sass/screen.scss */
.subscribe-form .subscribe-checkbox:focus + label:before {
  box-shadow: 0 0 0 2px rgba(21, 164, 250, 0.63);
}
/* line 376, ../sass/screen.scss */
.subscribe-form label {
  float: left;
}
/* line 380, ../sass/screen.scss */
.subscribe-form .botton-send {
  float: right;
  padding: 10px 25px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #15a4fa;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  /* line 393, ../sass/screen.scss */
  .subscribe-form .subscribe-checkbox:not(checked) + label {
    padding: 0 0 0 35px;
  }
  /* line 397, ../sass/screen.scss */
  .subscribe-form .botton-send {
    padding: 10px 40px;
  }
}
/* line 403, ../sass/screen.scss */
#footer {
  padding: 25px 0;
}
/* line 406, ../sass/screen.scss */
#footer p {
  line-height: 2.5em;
}
/* line 411, ../sass/screen.scss */
#footer .group-box .fa {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 12px;
  color: #ffffff;
  background: #15a4fa;
  border-radius: 2px;
}
/* line 421, ../sass/screen.scss */
#footer .group-box .fa-facebook {
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  /* line 429, ../sass/screen.scss */
  #footer {
    padding: 15px 0;
  }
  /* line 432, ../sass/screen.scss */
  #footer p {
    float: left;
  }
  /* line 436, ../sass/screen.scss */
  #footer .group-box {
    float: right;
  }
}
